.main_container {
    margin: 50px 0;
}
.card {
    margin: 0 1% !important;
}

.infacted {
    border: 1px solid #cfd3d4;
    border-bottom: 7px solid  rgba(0,0,255, 0.5);
}

.recovered {
    border: 1px solid #cfd3d4;
    border-bottom: 7px solid   rgba(0,255,0, 0.5);
}

.deaths {
    border: 1px solid #cfd3d4;
    border-bottom: 7px solid rgba(255,0,0, 0.5);
}